@import '_variables.css';

.sidebar {
    padding: 0px;
    padding-bottom: 40px;
    box-shadow: inset -1px 0px 0px #E4E4E4;
    background: #FFFFFF;
    display: flex;
    flex-direction: column;
    align-items: center;
    position: fixed;
    z-index: 1000000;
    min-height: 100vh;
    max-height: 100vh;
    overflow-x: hidden;
    overflow-y: auto;
    font-size: 13px;
}
.sidebar::-webkit-scrollbar {
    display: none;
}
.logo {
    flex: 1;
    margin: 10px 0px;
}
.logo-lg {
    width: 90%;
    padding: 20px 18px;
    position: sticky;
    top: 0px;
    z-index: 10000;
    background: #FFFFFF;
    display: flex;
    align-items: center;
}
.logo img {
    object-fit: contain;
    flex: 1;
    max-height: 42px;
}
.sidebar .hambuger {
    display: none;
    background: none;
    outline: none;
    border: none;
    cursor: pointer;
    width: 32px;
    margin: auto;
}
.sidebar .hambuger img {
    width: 100%;
    object-fit: contain;
}
.sidebar ul {
    list-style: none;
    padding: 0px 18px;
    width: 100%;
}
.sidebar ul li {
    margin: 0px 0px;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    color: #808191;
}
.sidebar ul li button {
    position: relative;
    flex: 1;
    padding: 18px 0px;
    padding-left: 0px;
    background: none;
    outline: none;
    border: none;
    cursor: pointer;
    color: #808191;
    display: flex;
    align-items: center;
} 

.sidebar ul li button span {
    margin-right: 18px;
}
.sidebar ul li button span.badge{
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    right: 10px;
    color: #FFFFFF;
    height: 24px;
    width: 24px;
    font-size: 10px;
    background: #FF754C;
    border-radius: 50%;
}
.sidebar ul li button.active {
    color: #FFFFFF;
    background: var(--primary-purple);
    border-radius: 12px;
}
.sidebar ul li button svg {
    stroke: #808191;
    margin: 0px 18px;
}
.sidebar ul li button.active svg {
    stroke: #FFFFFF;
}
.sidebar .divider {
    border-top: solid 1px #E4E4E4;
    width: 100%;
    padding: 1px 0px;
    margin: 30px 0px;
}
.sidebar .procard {
    background: #CFC8FF;
    margin: 40px 18px;
    margin-top: 200px;
    border-radius: 16px;
    box-shadow: 0px 10px#cfc8ff80;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 20px 0px;
}
.sidebar .procard img {
    object-fit: contain;
    width: 200px;
}
.sidebar .procard button {
    background: #FFFFFF;
    border-radius: 16px;
    color: #5F75EE;
    padding: 18px 43px;
    outline: none;
    border: none;
    cursor: pointer;
}
.sidebar .profile {
    width: 100%;
    padding: 18px;
    display: flex;
    justify-content: space-between;
}
.sidebar div p {
    color: #808191;
}
.sidebar .profile img{
    object-fit: contain;
}
.sidebar .profile img:first-of-type {
    width: 40px;
}
.sidebar .profile img:last-of-type {
    width: 12px;
}

@media screen and (max-width: 1024px) {
    .sidebar .hambuger {
        display: inline;
    }
}

@media screen and (max-width: 450px) {
    .sidebar {
        display: none;
    }
}

